.principal {
    height: 720px;
    align-items: center;
    justify-content: center;
    font-family: 'Nexa';
    background-color: black;
    text-align: center;
  }
  
  .h1-title{
    margin-top: 5%;
    color: white;
    font-size: 11px;
    font-weight: bold;
  }
  
  .h1-title-selected{
    margin-top: 5%;
    color: #FFD500;
    font-size: 11px;
    font-weight: bold;
  }
  
  .h1-hr{
    margin-left: 15%;
    color: white;
  }
  
  .h1-hr-s{
    margin-left: 15%;
    color: #FFD500;
  }
  
  .column{
    margin-top: 3%;
    float: left;
    width: 33.33%;
  }
  
  .row::after{
    content: "";
    display: table;
    clear: both;
  }
  
  .navegate-h1{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10%;
  }
  
  .Estrenos{
    margin-top: 7%;
    text-align: left;
    margin-left: 7%;
  
  }
  
  h2{
    width: 710px;
    color: white;
    font-size: 13px;
    margin-bottom: 4%;
  }
  
  
  .Estrenos img{
    width: 70px;
    
    height: 20%;
    border-radius: 10%;
  }
  
  hr{
   display: flex;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    border: 1px solid #FFD500;
  }
  
  .Ofertas{
  
    text-align: left;
    margin-left: 7%;
  }
  .Ofertas img{
    width:70px;
    margin-right: 5%;
  
    height: 10%;
    border-radius: 10%;
  }
  
  .preventa{
    align-items: center;
    justify-content: center;
    
    text-align: left;
    margin-left: 7%;
  
  
  }
  .preventa img{
    width:70px;
    margin-right: 5%;
    height: 10%;
    border-radius: 10%;
  }
  
.footer-categorias{
    background-color: #FFD500;
}
  
  footer img{
    width:35px;
    margin-right: 5%;
    height: 7%;
  }
  
  .claqueta{
    float: left;
    margin-top: 2%;
    margin-left: 8%;
  }
  
  .usuario{
    margin-top: 1%;
  }
  
  .gps{
    height: 40px;
    width: 40px;
    float: right;
    margin-top: 1%;
    margin-right: 8%;
  }
  