.Principal-sinopsis{
    color: black;
}
h1{
    margin-left: 4%;
    text-align: left;
    color: black;
    font-weight: bolder;
    font-family: 'Nexa';
}

p{
    color: black;
    font-weight: bolder;
    font-family: 'Nexa';
}

.button-sinopsis{
    margin-left: 35%;
    margin-top: 20%;
    background-color: black;
    color: #FFD500;
    font-size: 13px;
    font-weight: bolder;
    width: 30%;
    height: 40px;
}